---
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "member-box",
        "timeline",
        "page",
        "icons"
;

.pagehead {
  height: 22em !important;
  min-height: 22em !important;
}

.pagehead2 {
  /*height: 15em !important;*/
  min-height: 15em !important;
  margin-top: 3em !important;
}

.member-box img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.page-full {
  background: linear-gradient(to bottom, #000 0%, transparent 100%),url(../img/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.page-Links {
  background: linear-gradient(to bottom, #000 0%, transparent 100%),url(../img/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

section {
  background-color: white;
}

section#help  {
  background-color: black;
  color: white;
}

section#dwnghclone {
  background-color: white;
}

section#dwnghcliclone {
  background-color: #f0f0f0d3;
}

section#dwnghclone {
  background-color: white;
}

.center { margin-left: auto; margin-right: auto; }
.redborder {border: red solid 1px;}

.doc-content {
  background-color: white;
  border: black solid 1px;
  color: black !important;
  padding-top: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 1.2em;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.5);
  border-radius: 1em;
  display: block;
  text-align: left;
  font-size: 0.8em;
}

.doc-content-title {
  padding-bottom: 0.2em;
}

.doc-content h2 {
  font-size: 2rem;
}
.doc-content h3 {
  font-size: 1.2rem;
}

.mtop1em {
  margin-top: 1em !important;
}
.mbottom1em {
  margin-bottom: 1em !important;
}
#mainNav {
  /*background-color:black;*/
  background-color:transparent;
}
.mh-90 {
  min-height: 90% !important;
}

.border-bottom-black {
  border-bottom: black solid 1px;
}
.docblock-title {
  border-bottom: black solid 1px;
}
.docblock-content {
  padding: 1em;
  line-height: 1.9;
}

.docblock-content h3, .docblock-content h2 {
  margin-top: 1em;
}

.doc-content a {
  color: rgb(49, 49, 49);
  text-decoration: none;
  background-color: transparent;
}
.doc-content a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.doc-ico {
  /*font-size:24px;*/
  vertical-align: baseline;
  /*margin-left: 1em;*/
}

.doc-index {
  max-height: 15em;
  overflow-y: scroll;
  padding: 1em;
  margin-bottom: 0.5em;
  border: lightgray solid 1px;
  border-top: black solid 1px;
}

.bg-light {
  background-color: #e4e4e4 !important;
}

div.enlighter {
  font-size: 10px;
}
div.enlighter-default {
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* responsive layout fixes */

#mainNav.navbar-scrolled {
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.5);
  background-color: black;
  border-width: 0px 0px 1px 0px;
  border-color: white;
  border-style: solid;
}

header.masthead {
  padding-top: 3rem;
  padding-bottom: 0em;
}

@media (min-width: 768px)
{

  header.masthead {
    padding-top: 3rem;
    padding-bottom: 0em;
  }
}

@media (min-width: 576px)
{
  header.masthead {
    padding-top: 3rem;
    padding-bottom: 0em;
  }
}

body.page-home header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
}

@media (min-width: 768px)
{
  body.page-home header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
  }
}

@media (min-width: 576px)
{
  body.page-home header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
  }
}

/*@media (min-width: 992px)*/
#mainNav .navbar-brand {
    color: rgba(255,255,255,0.7);
}

#mainNav .navbar-brand:hover {
  color: #fff;
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.7);
}

.navbar-light:hover .navbar-toggler:hover {
  color: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.9);
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link /*.navbar-brand*/ {
    color: white;
}

#mainNav.navbar-scrolled .navbar-brand {
  color: white;
}

.navbar-nav {
  text-align:center;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255,255,255,0.5);
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
  color: white;
}

/*a.nav-link.js-scroll-trigger {
  color: greenyellow;
}
#mainNav > a.nav-link:hover {
  color: dodgerblue;
}
#mainNav.navbar-scrolled > a.nav-link:hover {
  color: dodgerblue;
}*/

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: white;
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: dodgerblue;
}

.collapsing {
  background-color: rgba(0,0,0,0.1);
  /*border-bottom:white solid 1px;*/
  background-color: black;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.5);
  /*transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;*/
}
.show {
  background-color: black;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.5);
  /*border-bottom:white solid 1px;*/
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/*nav.navbar-scrolled > div.navbar-collapse {
  border-bottom: none;
}

.navbar-scrolled > .collapsing {
  background-color: rgba(0,0,0,0.1);
  border-bottom:none;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.5);
}
.navbar-scrolled > .show {
  background-color: black;
  box-shadow: unset;
  border-bottom:none;
}*/



/*.center-cropped {
  width: 300px;
  height: 300px;
  background-image: url('https://images.unsplash.com/photo-1569878698889-7bffa1896872?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-position: center center;
  background-repeat: no-repeat;
}*/

.page-section-smaller {
  padding-top: 2rem;
  padding-right: 1em;
  padding-bottom: 2rem;
  padding-left: 1em;
}
